*{
    margin: 0;
    padding: 0;
}

.estilo {
    margin: auto;
    margin-top: 150px;
    font-size: 10px;
    width: 25em; /*300px*/
    height: 37em; /*350px*/
    padding: 1.2em;
    box-sizing: border-box;
    border: 1.5px solid #939393;
}

img {
    width: 100px;
    height: 100px;
    animation: move 5s linear;
    animation-fill-mode: forwards;
    position: relative;
    left: -300px;
}

@keyframes move{
    from{left: -300px; transform: rotate(360deg);}
    to{left: 60px}
}

.titulo2 {
    font-size: 2em;
    text-align: center;
}

p{
    
    text-align: justify;
    padding:10px;
    border-radius: 10px;
    position: relative;
    top: 200px;
    animation: aparecer 2s;
    animation-fill-mode: forwards;
}
@keyframes aparecer{
    from{top: 150px;}
    to{top: -1px;}
}
